<html>
<head>
    <title>Suave Music Store</title>
    <link rel="stylesheet" type="text/css" href="assets/styles.css">
</head>
<body>
<div id="header">
    <h1>
        <a href="/">Http 4K Music Store</a>
    </h1>
</div>
<div id="footer">
    Built with <a href="https://www.http4k.org">Http 4K</a>
</div>
</body>
</html>
